*{
    margin: 0;
padding: 0;
}
body{font-family: Arial, Helvetica, sans-serif;}
.cabecalho {background-color: rgb(218, 110, 218);
color: rgba(0, 0, 0, 0.836);
display: flex;
justify-content: space-around;
padding: 23px 0;
}
 .cabecalho-imagem{
    width: 15%;
    height: 10%;}
 .cabecalho-lista-item{
display:ruby-base-container;
margin: 3 15px;
padding: 24px 0;
font-size: 24px;}
h1
 {display: inline-block;
    margin: 0 16px;
    padding: 120px 0;
    font-size: 35px;}
p
{margin: 0 50px}
 
.escola-imagem{
   width: 15%;
}
.escola{
   background-image:linear-gradient(rgb(218, 110, 218), rgb(19, 15, 19));
   color:rgb(0, 0, 0);
   display: flex;
    justify-content: baseline;
    padding: 50px;
   }
div{width: 50%;}
.escola-titulo
{padding: 50px 50px;}
.aluno-um{
   width: 20%;
}